body{
  font-family: Sans serif fonts;
  
}
.page-body{
  background-color: rgb(211, 211, 211);
}
.headerImage {
  width: 100%;
  height: 70%;
  object-fit: cover;
  aspect-ratio: 16/9;
  
  animation: imageAnimation 3s infinite  ease-in-out ;
  transform: scale(1.01);
  transition: all ease-in-out 3s;
  
}
.headerPart{
  background-color: rgb(211, 211, 211);
  margin-bottom: 15rem;
}
@keyframes imageAnimation {
  0% {
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
  }
  33%{
    box-shadow: 12px 29px 81px 0px rgba(153, 153, 153, 0.75);
  }
  66%{
    box-shadow: none;
  }
  100% {
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75);
  }
}
.cardImage{
  height: 50%;
  width: 50%;
  aspect-ratio: 1/1;
  filter: drop-shadow(0 4px 6px rgba(0,0,0,0.1)); 
  border-radius: 50%;
  object-fit: contain;
  
}

.itemCard{
 
  background-color: rgb(211, 211, 211);
}
.ourProducts{
 
  background-color: white;
}